//Variables Color Scheme
$swamp: #001614;
$gray: #888;
$silver: #CCC;
$white: #FFF;
$sky-blue: #79DEE7;
$persimmon: #FF565B;

//Variables Font Family
$playfair: 'Playfair Display',
serif;
$roboto: 'Roboto',
sans-serif;
$poppins:'Poppins',
sans-serif;
$lato: 'Lato',
sans-serif;

//Varibles Font Sizes
$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

//Variables Font Weight
$fweight-light: 300;
$fweight-regular: 400;
$fweight-bold: 700;
$fweight-black: 900;

//Font style
$regular: normal;
$italic: italic;

//Device variables
$map-breakpoints: ('device-small': (min-width: 575.98px),
  'device-medium': (min-width: 767.98px),
  'device-large': (min-width: 991.98px),
  'device-xlarge': (min-width: 1199.98px),
);

///////////////////////
//Variables Boostrap//
//line-70 - redefine color 
$primary: $silver;
//line-71 - redefine color 
$secondary:$gray;
//line-72 redefine color $success: 
//line-77 - redefinecolor $dark:

//line-452
//$font-sizes: (1: $xx-large,
//2: $x-large,
//3: $large,
//4: $medium,
//5: $small,
//6: $small);